/*
COLORS -> https://www.schemecolor.com/pokemon-colors.php
  Boston University Red: #c52018
  Cerulean Blue: #3B4CCA
  Alt Blue: #0d5bc4
  Golden Yellow: #FFDE00
  Gold Foil: #B3A125
  Silver: #eaeaea
*/

@font-face {
  font-family: 'PokeText';
  src: url("./fonts/poketext_font.ttf");
}

@font-face {
  font-family: 'Roboto Thin';
  src: url("./fonts/Roboto-Thin.ttf");
}

/*Reset Styles*/
*{
  padding: 0px;
  margin: 0px;
  border: none;
  list-style-type: none;
}

a{
  display: block;
  color: inherit;
  text-decoration: none;
}
/*Reset Styles*/

/*HTML Element Styles*/
body{
  font-family: Helvetica, Verdana, sans-serif;
  min-height: 100vh;
  background-color: #eaeaea;
}

header{
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  background-color: #c52018;
}

header .img-wrapper{
  width: 40px;
  max-height: 10vh;
  display: flex;
  padding-left: 5px;
}

header img{
  width: 100%;
  max-height: 10vh;
  margin: 0px auto;
}

h1{
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1em;
  font-weight: 500;
  padding-left: 2px;
}

p{
  box-sizing: border-box;
}

form{
  flex: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input{
  box-sizing: border-box;
  min-height: 38px;
}

form input[type="number"]{
  border: solid thin black;
  max-height: 38px;
  padding-left: 5px;
  border-radius: 4px;
}

form input[type="submit"]{
  margin-top: 2em;
  padding: 1.4em 0px;
  color: #eaeaea;
  background-color: #0d5bc4;
  font-size: 1em;
  font-weight: 100;
  font-family: sans-serif;
}

form label{
  margin-top: 1em;
}
/*HTML Element Styles*/




.left-header{
  width: 75%;
  display: flex;
  align-items: center;
}

.right-header{
  box-sizing: border-box;
  width: 25%;
  padding: 0px 1em;
  display: flex;
  justify-content: flex-end;
}

.desktop-header{
  display: none;
}

.mobile-nav-wrapper{
  width: 0px; /* animate to 100% to open */
  min-height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  z-index: 1; /*Z-index is required so it appears above the select element on the add page*/
}

.mobile-nav{
  min-height: 100vh;
  width: 0px; /* animate to 50% to open */
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-nav ul{
  width: 100%;
}

.mobile-nav li{
  background-color: #c521182f;
  color: #eaeaea;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(245, 245, 245, 0.2);
}

.mobile-nav-link{
  display: none; /* set to display: flex (0.1s delay) when mobile nav is clicked */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 10vh;
}

.close-mobile-nav{
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 1.1em;
  padding: 0px 1em;
}

.width-anim{
  transition: width .3s linear;
}

.add-page-content{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-height: 90vh;
}

.add-page-content .img-wrapper{
  text-align: center;
}

.card-placeholder{
  margin: 0px auto;
  width: 128px;
  border: solid thin black;
  border-radius: 10px;
  min-height: 30vh;
}





/*react-select styles*/
.css-yk16xz-control{
  border-color: black !important;
  max-height: 38px;
}

.css-g1d714-ValueContainer{
  padding-left: 4px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.css-b8ldur-Input{
  margin: 0px !important;
  padding: 0px !important;
}

.option{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.option-img{
  width: 32px;
}

.option-text{
  display: flex;
  align-items: center;
  text-align: right;
  padding-left: 6px;
}
/*react-select styles*/




.toast{
  display: flex;
}

.toastDiv{
  display: flex;
  flex-direction: column;
}

.toastStatus{
  padding-left: 1em;
}

.errorMessage{
  padding-left: 2em;
  font-size: 0.9em;
}